    <footer class="site-footer">
      <span>Updated on: <time id="site-updated" datetime="{{ updatedOn | isoDate }}">{{ updatedOn | dateLabel }}</time></span>
      <span class="copyright">© {{ updatedOn | year }} CS Theory @ UIowa.</span>
    </footer>
